
.home-title {
    text-shadow: 5px 5px #F76C6C;
}
.emoji-anim {
    display: inline-block;
    transform: translate3d(0%,0,0);
    animation: 3s linear infinite alternate wobble;
}

@keyframes wobble {
    0% {
        transform: translate3d(0,0,0) rotate(0deg) scale(1.1);
    }
    15% {
        transform: translate3d(-30%,0,0) rotate(-20deg) scale(1.1);
    }
    30% {
        transform: translate3d(30%,0,0) rotate(20deg) scale(1.2);   
    }
    45% {
        transform: translate3d(-25%,0,0) rotate(-17deg) scale(1.3);
    }
    60% {
        transform: translate3d(25%,0,0) rotate(17deg) scale(1.4);
    } 
    75% {
        transform: translate3d(-30%,0,0) rotate(-20deg) scale(1.5);
    }
    
    100% {
        transform: translate3d(20%,0,0)   rotate(20deg) scale(1.6);
    }
}


