@tailwind base;
@tailwind components;
@tailwind utilities;

.duration-2000 {
  transition-duration: 2000ms;
}

.h-90 {
  height: 90%
}

/********************** Global ***********************/

* {
  @apply text-white
}
.global-bg {
  @apply bg-black
}
.section-containers {
  @apply w-full min-h-screen flex flex-col
/* LG */ sm:snap-center
/* LG */ lg:py-5
}
.section-surfaces {
  @apply w-screen flex mx-auto
/* MD */ md:rounded-md
/* LG */ lg:w-10/12 lg:rounded-3xl
}
.article-containers {
  @apply w-full min-h-screen p-4 flex flex-col gap-8 place-content-center
/* MD */ md:m-auto md:p-0 md:py-7 md:block
}
.section-headers {
  @apply flex mx-auto justify-center items-center pb-2
/* MD */ md:pb-5
}
.section-titles {
  @apply w-auto flex pb-2 place-content-center text-2xl border-b
/* MD */ md:pb-3 md:text-3xl
}

/********************** App ***********************/

.scroll-control {
  @apply min-h-screen w-screen overflow-auto scroll-smooth global-bg
/* SM */ sm:snap-y sm:snap-mandatory
}
.main-container {
  @apply w-screen
/* MD */ md:w-full md:py-10
}

/********************** SideBar ***********************/

@media screen and (min-width: 780px)
{
  .sidebar-center {
    top:50%;
    transform: translateY(-50%);
  }
  .margin-block {
    margin-block: auto;
  }
}
.sideBar-closed {
  @apply w-auto p-3 fixed flex z-30
/* MD */ md:duration-1000 md:top-4 md:h-auto md:left-4 md:flex-col md:content-center md:rounded-full
}
.sideBar-container {
  @apply w-full h-5/6 fixed flex flex-col z-30 ease-in-out duration-700 bg-black shadow-lg shadow-cyan-300 rounded-sm
/* MD */ md:w-16 md:h-4/6 md:left-4 sidebar-center md:flex-col duration-2000 md:content-center md:rounded-full
}
.burger-button-container {
  @apply flex self-center mx-auto
/* MD */ md:h-1/6 md:mx-0
}
.burger-button-container svg {
  @apply w-5
/* MD */ md:w-7
}
.nav {
  @apply h-full duration-1000 
/* MD */ md:h-2/4 margin-block
}
.links-container {
  @apply h-auto absolute top-20 left-10 flex flex-col gap-6 justify-start
/* MD */ md:h-auto md:flex-col md:mx-auto
}
.links {
  @apply flex gap-4
/* MD */ md:mx-auto md:my-5 md:justify-center
}
.sidebar-svg {
  @apply w-5 h-auto
/* MD */ md:w-7 md:duration-500 md:ease-in-out md:hover:scale-125 md:hover:fill-cyan-300 md:hover:shadow-lg md:hover:shadow-cyan-300/50
}

/******* Modal *******/

.modal-container {
@apply w-screen absolute inset-0 z-50 bg-black
}
.modal-sub-container {
  @apply w-screen min-h-screen flex flex-col absolute z-50 mx-auto
/* MD */ md:h-full
/* LG */ lg:w-10/12 lg:inset-x-10 lg:rounded-2xl
}

/* Tabs-Modal */

.content-tabs {
  @apply flex px-5 py-1 items-center
/* LG */ lg:py-3
}
.tab-buttons {
  @apply w-24 border-b p-2 py-1 px-2 mx-1 my-2 transition text-center text-sm font-bold rounded-lg duration-500 ease-in-out
/* MD */ md:hover:bg-cyan-700
}
.button-close {
  @apply ml-auto text-3xl text-white font-semibold font-sans transition-all hover:scale-125 hover:font-light
}
.content-modal {
  @apply w-screen h-full flex flex-col my-2 mx-auto overflow-y-auto scrollbar-thin scrollbar-track-cyan-700 scrollbar-thumb-cyan-500
/* MD */ md:flex-row
/* LG */ lg:w-11/12
}

/* Profile-Modal */

.modal-profile {
  @apply w-screen h-full flex flex-col mx-auto p-2 justify-center items-center rounded-lg
}
.profile-infos-contact-part {
  @apply w-full
/* MD */ md:h-3/5 md:flex
/* LG */ lg:h-4/5
}
.profile-infos-contact-surface {
  @apply flex flex-col mb-2 mx-1 items-center rounded-lg shadow-xl border-b border-white
/* MD */ md:w-1/2 md:h-auto md:justify-center
}
.profile-hobbies-part {
  @apply w-full h-2/5 flex flex-col px-2 items-center justify-center rounded-lg shadow-xl border-b border-white
/* MD */ md:w-auto md:px-20
/* LG */ lg:h-3/5 lg:px-40
}
.profile-titles {
  @apply my-2 border-b-2 border-white
/* SM */ sm:text-lg
/* MD */ md:text-2xl
}

/* SoftSkills-Modal */
.modal-SoftSkills {
  @apply flex flex-col mx-2
}
.modal-softSkill {
  @apply w-full flex p-2 my-3 mx-auto border-b border-white rounded-md
/* SM */ sm:p-5

}
.modal-softSkill-img-part {
  @apply w-1/6 self-center
}
.modal-softSkill-img {
  @apply w-8 m-auto self-center
/* SM */ sm:w-12
}
.modal-softSkill-description-part {
  @apply w-5/6 m-auto flex flex-col
/* SM */ sm:items-center
}
.modal-softSkill-title {
  @apply mb-2 underline text-lg
}
.modal-softSkill-description {
  @apply text-sm sm:text-base
}
/********************** Home ***********************/

.presentation {
  @apply p-0 flex gap-4 text-start
}
.links-social-medias {
  @apply flex gap-2
}
.profile-img {
  @apply w-48 h-48 absolute -top-36 right-2 object-cover rounded-bl-[75%]
/* SM */ sm:w-32 sm:h-32
/* MD */ md:w-52 md:h-52
}

/*************************** About ****************************/
.about-aside-containers {
@apply pt-4 flex flex-col
}
.about-img-containers {
  @apply w-3/4 h-20 flex justify-center
}
.about-img {
  @apply w-3/4 h-full rounded-full bg-gray-700
}
.about-description-container {
  @apply mb-8 flex flex-col gap-2
}
/*************************** Experiences ****************************/

.lists-container {
  @apply w-full h-90 flex flex-col items-center justify-around
/* LG */ lg:flex-row
}
.lists-experience-training {
  @apply w-11/12 mt-5 items-center overflow-scroll scrollbar-thin scrollbar-track-cyan-700 scrollbar-thumb-cyan-500 rounded-lg
/* MD */ md:mt-0
/* LG */ lg:w-1/2
}
.lists-elements {
  @apply w-full px-2 py-8 border-b border-white m-auto text-center
/* MD */ md:w-3/4 md:px-0
}

/* legend experience */

.legend-container {
  @apply w-full flex px-2 mb-5
/* LG */ lg:w-3/12 lg:h-5/6 lg:my-auto lg:px-0 lg:flex-col
}
.legend-sub-container {
  @apply w-full m-auto
/* XL */ xl:w-5/6
}
.legend-checkbox-container {
  @apply w-5/6 mb-5 mx-auto flex place-content-center items-center
}
.legend-checkbox {
  @apply w-5 h-5 mx-2 cursor-pointer
}
.legend-list {
  @apply w-full pb-2 flex overflow-auto scrollbar-thin scrollbar-track-cyan-700 scrollbar-thumb-cyan-500
/* SM */ sm:justify-center
/* LG */ lg:h-full lg:flex-col
}
.legend-list-elements {
  @apply my-1 mr-3 flex self-center items-center
/* LG */ lg:w-10/12 lg:h-10 lg:mr-0
}
.legend-elements-circle {
  @apply w-5 h-5 rounded-full
}
.legend-elements-text {
  @apply w-max ml-2 text-sm
/* LG */ lg:text-base
}

/*********************** Skills ************************/

/* HardSkills */
.skills-list {
  @apply w-3/4 h-90 grid grid-cols-2 gap-4 mx-auto items-center
/* MD */ md:grid-cols-3 md:gap-2
}
.skill {
  @apply w-max grid-cols-1 mx-auto my-1
/* MD */ md:my-3
}
.skill-name {
  @apply mx-auto mb-3 text-lg
}
.skill-img {
  @apply w-12 h-12 mx-auto object-contain
/* MD */ md:w-20 md:h-16
}

/*********************** Projects ************************/

.projects-carrousel {
  @apply w-full h-90 mx-auto items-center snap-mandatory flex gap-6 snap-x overflow-x-hidden
/* MD*/ md:w-1/2
/* LG*/
}
.project {
  @apply h-full w-full flex flex-col snap-center shrink-0 rounded-lg shadow-md
}
.project-img {
  @apply mx-auto my-3
/* MD */ md:w-11/12 md:px-5 md:pt-3
/* LG */ lg:w-11/12 lg:px-10 lg:pt-6
}
.project-content {
  @apply flex h-90 flex-col px-5 pb-2 overflow-y-auto text-start scrollbar-thin scrollbar-track-cyan-700 scrollbar-thumb-cyan-500
}
.project-infos {
  @apply flex mt-auto py-3 items-center
}
.project-title {
  @apply text-center text-xl font-bold
/* MD */ md:text-2xl
}
.project-technos {
  @apply w-full flex justify-end
}
.project-techno-icon {
  @apply w-8 h-8 mx-1 object-cover
/* SM */ sm:w-10 sm:h-10
}
.project-description {
  @apply my-2 px-2 text-justify
/* MD */ md:px-2
}
.project-link {
  @apply h-fit ml-5 py-2 px-3 m-auto inline-flex items-center text-sm font-medium rounded-lg hover:ring-2 duration-500 ease-in-out dark:bg-cyan-600 dark:hover:bg-cyan-700
}
.projects-svg {
  @apply w-4 h-4 ml-2 mr-1
}

/*********************** Contact ************************/
.contact-text {
  @apply w-5/6 text-center self-center text-xl
/* MD */ md:mb-5 md:text-xl
}
.form {
  @apply w-5/6 p-5 flex flex-col mx-auto rounded-2xl
/* MD */ md:w-10/12 md:mt-8 md:flex-row
}
.form div {
  @apply w-full self-center px-8 flex flex-col
}
.form label {
  @apply w-fit mb-1 text-sm
/* MD */ md:text-base
}
.form input, select, option {
  @apply px-2 mb-2 rounded-lg text-black cursor-pointer transition duration-500 focus:scale-x-105 hover:scale-x-105
/* MD */ md:mb-5
}
.form textarea {
  @apply h-28 rounded-lg text-black cursor-pointer transition duration-500 focus:scale-x-105 hover:scale-x-105 focus:shadow-lg
/* MD */ md:h-64
}
.submit-button {
  @apply text-lg mt-5 mx-2 py-1 px-4
/* MD */ md:text-xl md:mt-8
/* LG */ lg:px-7
}

/*********************** Sub-Components ************************/

.callToAction-text {
  @apply mt-8 mr-4 mb-4 ml-auto px-2 self-end border rounded-3xl
    /* MD */
}

.callToAction-svg {
  @apply w-8 h-8 flex items-center animate-pulse duration-500 ease-in-out rounded-full bg-cyan-600
/* MD */ md:w-10 md:h-10 md:p-3 md:hover:animate-none md:hover:ring-2 md:hover:bg-cyan-700
}
.callToAction-svg svg {
  @apply w-4 mx-auto
/* MD */ md:w-20
}

