@tailwind base;
@tailwind components;
@tailwind utilities;

.duration-2000 {
  transition-duration: 2000ms;
}

.gradiant-dark {
  background: radial-gradient(#243b55, #141e30);
}

.gradiant-light {
  background: radial-gradient(#141e30, #243b55);
}

/*********** Global ************/
* {
  @apply text-white
}
.global-bg {
  @apply bg-dark_blue
}
.bg-section-card {
 @apply bg-black bg-opacity-50 rounded-3xl
}

/******* Modal *******/
.modal-container {
 @apply absolute w-full bg-opacity-60 bg-black inset-0
}
.modal-sub-container {
  @apply w-full h-screen flex flex-col absolute m-auto bg-gradient-to-r from-cyan-800 to-cyan-200 
/* MD */ md:w-5/6 md:inset-10 md:rounded-2xl
}
.modal-sub-container .content-tabs {
  @apply h-20 flex px-5 items-center bg-black bg-opacity-70
}
.modal-sub-container .tab-buttons {
  @apply w-24 h-10 text-center p-2 rounded-t-xl mx-1 my-2 py-1 px-2 text-sm font-bold rounded-lg hover:ring-2 duration-500 ease-in-out dark:bg-cyan-600 dark:hover:bg-cyan-700
}
.modal-sub-container .button-close {
  @apply w-10 ml-auto text-3xl text-black font-bold
}
.modal-sub-container .content-modal {
  @apply w-screen h-5/6 flex flex-col items-center m-auto
/* MD */ md:w-11/12 md:max-h-fit md:flex-row
}
.modal-sub-container .content-profile {
  @apply w-full min-h-full flex flex-col px-2 mx-auto justify-center items-center rounded-lg shadow-lg bg-slate-800 bg-opacity-25
}
.modal-sub-container .content-experiences-traing {
  @apply h-full w-auto flex
}
.modal-sub-container .nav-experiences-training {
  @apply flex h-full mb-5
/* MD */ md:flex-col md:mr-3 md:mb-0
}
.modal-sub-container .buttons-nav-experiences-training {
  @apply w-44 h-10 mx-1 py-2 px-4 self-start justify-center bg-black rounded-sm
}
.modal-sub-container .experiences-training-list {
  @apply w-full max-h-full min-h-full overflow-scroll scrollbar-hide  rounded-lg
}

/*********** App ************/

.scroll-control {
  @apply h-screen w-screen snap-y snap-mandatory overflow-auto scroll-smooth global-bg
}
.main-container {
  @apply w-screen bg-[url('./assets/img/imgBackground/main-bg.jpg')] bg-cover bg-fixed bg-no-repeat
/* MD */ md:w-full md:py-10
}

/*********** SideBar ************/

@media screen and (min-width: 780px)
{
  .sidebar-center {
    top:50%;
    transform: translateY(-50%);
  }
  .margin-block {
    margin-block: auto;
  }
}
.sideBar-closed {
  @apply w-auto h-14 p-3 fixed flex z-50 shadow-cyan-300/50 rounded-sm
/* MD */ md:duration-1000 md:top-4 md:h-auto md:left-4 md:flex-col md:content-center md:rounded-full
}
.sideBar-container {
  @apply w-full h-14 fixed flex z-50 ease-in-out duration-1000 bg-black shadow-lg shadow-cyan-300/50 rounded-sm
/* MD */ md:w-16 md:h-4/6 md:left-4 sidebar-center md:flex-col duration-2000 md:content-center md:rounded-full
}
.burger-button-container {
  @apply flex self-center mx-auto
/* MD */ md:h-1/6 md:mx-0
}
.burger-button-container svg {
  @apply w-5
/* MD */ md:w-7
}
.nav {
  @apply w-5/6 mx-auto duration-1000
/* MD */ md:h-2/4 margin-block
}
.links-container {
  @apply h-full flex justify-end items-center
/* MD */ md:h-auto md:flex-col md:mx-auto
}
.links {
  @apply flex mx-3
/* MD */ md:mx-auto md:my-5 md:justify-center
}
.sidebar-svg {
  @apply w-5
/* MD */ md:w-7 md:duration-500 md:ease-in-out md:hover:scale-125 md:hover:fill-cyan-300 md:hover:shadow-lg md:hover:shadow-cyan-300/50
}

/*********** Home ************/

.home-container {
  @apply w-full h-screen flex flex-col justify-center text-center items-center text-xl snap-center
}
.home-container .welcome {
  @apply mb-5 text-2xl
/* MD */ md:text-3xl
}
.home-container .name {
  @apply mb-5 text-2xl
/* MD */ md:text-3xl
}
.social-medias-onscroll {
  @apply mt-5 top-2 right-4 flex justify-center
/* MD */ md:fixed md:flex-col md:mt-0
}

/**************** About *****************/

.about-container {
  @apply w-full h-screen flex flex-col snap-center
}
.about-container .card {
  @apply w-screen h-screen bg-section-card py-5
/* MD */ md:w-5/6 md:mx-auto md:py-20
}

/* Description part */

.description-part {
  @apply flex flex-col
/* MD */ md:w-5/6 md:mx-auto md:flex-row md:items-center md:text-center
}
.description-part .text-part {
  @apply w-4/6 mx-auto
  /* MD */ md:w-1/2
}
.description-part .text-title {
  @apply w-4/6 pb-2 mb-5 mx-auto border-b text-xl text-center
/* MD */ md:w-80
}
.description-part .text-description {
  @apply w-full text-center
/* MD */ md:text-lg
}
.description-part .img-infos-part {
  @apply w-full h-full mx-auto mt-8 flex items-center place-content-evenly
/* MD */ md:w-2/6 md:h-auto md:flex-col md:mt-5 md:p-0
}
.description-part .prolfile-img {
  @apply w-32 h-32 object-cover rounded-full border border-white
/* MD */ md:w-64 md:h-64
}

/* SoftSkills part */

.softSkills-part {
  @apply w-5/6 mt-5 flex  mx-auto self-center items-center overflow-x-auto
/* MD */ md:w-4/6 md:h-3/6 md:flex-wrap
}
.softSkill {
  @apply min-w-max mx-3 flex flex-col mt-5 text-center pb-3
/* MD */ md:w-36 md:mt-0 md:mx-auto md:pb-0
}
.softSkill .title-softSkill {
  @apply font-semibold mb-1 min-w-max
/* MD */ md:text-lg md:mx-auto md:mt-5
}
.softSkill .img-content {
  @apply w-14 p-2 self-center border rounded-lg gradiant-light
/* MD */ md:w-20 md:mx-auto md:mt-5
}
.softSkill .softSkill-img {
  @apply mx-auto rounded
}

/************ Skills *************/

.skills-container {
  @apply w-full h-screen mx-auto my-10 pt-8 flex place-content-center items-center snap-center
/* MD */ md:w-5/6
}

/* HardSkills */

.hardSkills-container {
  @apply w-full text-center
}
.hardSkills-container .hardSkills-header {
  @apply flex mx-auto mb-10 justify-center items-center
}
.hardSkills-container .hardSkills-title {
  @apply w-auto flex pb-5 place-content-center text-3xl border-b
}
.hardSkills-container .skill-container {
  @apply w-3/4 grid grid-cols-2 gap-4 mx-auto
/* MD */ md:grid-cols-3 md:w-2/4
}
.hardSkills-container .skill {
  @apply grid-cols-1 mx-auto my-3
}
.hardSkills-container .skill-name {
  @apply mx-auto mb-3 text-xl
}
.hardSkills-container .skill-img {
  @apply w-20 h-14 mx-auto object-contain
/* MD */ md:h-16
}

/************ Projects *************/

.Projects-container {
  @apply  h-screen my-10 mx-auto py-10 flex flex-col justify-center snap-center
/* MD */ md:w-5/6
}
.Projects-container .title-section {
  @apply w-24 mx-auto pb-2 mb-10 border-b place-content-center text-center text-3xl
}
.Projects-part {
  @apply  mx-auto relative flex flex-wrap justify-center
}
.Project {
  @apply h-auto mx-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700
/* MD */ md:w-1/2
}
.Project .project-content {
  @apply p-5
}
.Project .Project-title {
@apply mb-2 text-center text-2xl font-bold tracking-tight text-gray-900 dark:text-white
}
.Project .Project-techno {
  @apply text-xl text-center
}
.Project .Project-description {
  @apply py-4 px-5 text-justify text-lg text-gray-700 dark:text-gray-400
/* MD */ md:px-2
}
.Project .Project-link {
  @apply my-1 py-2 px-3 inline-flex items-center text-sm font-medium rounded-lg hover:ring-2 duration-500 ease-in-out dark:bg-cyan-600 dark:hover:bg-cyan-700
}
.Project .Projects-svg {
  @apply w-4 h-4 ml-2 mr-1
}

/************ Contact *************/

.Contact-container {
  @apply w-screen h-screen flex flex-col  mx-auto justify-center snap-center
/* MD */ md:w-5/6
}
.Contact-text {
  @apply w-5/6 text-lg text-center self-center lg:text-2xl
/* MD */ md:mb-10
}
.form-container {
  @apply w-full
/* MD */ md:h-2/3
}
.form {
  @apply w-5/6 h-auto flex flex-col mx-auto gradiant-light rounded-2xl p-5 mt-8
/* MD */ md:w-2/3 md:flex-row
}
.form div {
  @apply w-full self-center px-8 flex flex-col
}
.form label {
  @apply mb-1
}
.form input, select, option {
  @apply px-2 mb-2 text-black rounded-lg
/* MD */ md:mb-5
}
.form textarea {
  @apply h-64 rounded-lg
}
.form button {
  @apply w-40 self-center text-lg mt-8 mx-2 py-1 px-4 rounded-lg bg-cyan-600 duration-500 ease-in-out hover:bg-cyan-700 hover:ring-2 md:text-xl lg:px-7 lg:transform xl:text-2xl
}

/************ Sub-Components *************/

.callToAction {
  @apply w-auto h-10 py-2 px-4 flex items-center font-bold duration-500 ease-in-out bg-cyan-600 hover:bg-cyan-700 rounded-lg hover:ring-2
/* MD */ md:mx-auto
}

